body{
    margin : 0px;
    overflow-x : hidden;
}
ul{
    margin : 0px;
    padding : 0px;
    list-style : none;
}
a{
    text-decoration: none;
    color : #fff;
}

header{
    position : relative;
    background : #444;
    height : 40px;
    display : block;
}
.header__inside01{
    position : absolute;
    left : 50%;
    width : 65vw;
    height : 100%;
    transform : translate(-50%, 0);
}
#header__categoryList{
    position : absolute;
    height : 100%;
    width : 100%;
    line-height : 40px;
    color : #fff;
    cursor : pointer;
    font-size: 10px;
    display : flex;
    font-family : "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight : 800;
    letter-spacing: -0.08em;
}
#header__categoryList li+li{
    padding-left : 20px;
}
#header__categoryList li+li::before{
    background : #5a6a76;
    width : 1px;
    height : 13px;
    margin-left : -10px;
    margin-top : 13px;
    position : absolute;
    content : '';
    display : inline-block;
}
#header__categoryList li a:hover{
    color : #06c;
}

nav{
    position : relative;
    height : 44px;
    background: #0A0A0A;
}
@keyframes navSweepToTop{
    from {
        height : 44px;
    }
    to{
        height : 0px;
    }
}
@keyframes navSweepToBottom{
    from {
        height : 0px;
    }
    to{
        height : 44px;
    }
}
.nav__inside01{
    position : absolute;
    width : 65vw;
    height : 100%;
    left : 50%;
    transform : translate(-50%, 0);
}
#nav__categoryList{
    position : absolute;
    height : 100%;
    width : 100%;
    display : flex;
    justify-content: space-between;
}
#nav__categoryList #notImg a{
    line-height : 44px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size : 14px;
    font-weight : 100;
    color : #f5f5f7;
    opacity : 0.8;
    letter-spacing: -0.01em;
}
#nav__categoryList #notImg:hover:not(.select) a{
    color : white;
    opacity : 1;
}
#nav__categoryList #menuBar button{
    display : flex;
    margin-top : 5px;
    background: inherit;
    outline : none;
    border : none;
    cursor : pointer;
    color : white;
    display : none;
}
#nav__categoryList .select{
    opacity : 0.56;
}

aside{
    position : relative;
    height : 116px;
    background: #1D1D1F;
}
.aside__inside01{
    position : absolute;
    width : 55vw;
    height : 100%;
    left : 50%;
    min-width : 767px;
    transform : translate(-50%, 0);
    animation-name : aside__direction;
    animation-duration : 1s;
    animation-iteration-count : 1;
}
#aside__categoryList{
    position : absolute;
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: space-around;
}
#aside__categoryList li{
    line-height: 10px;
    padding-top : 15px;
    width : 100%;
}
.aside__figure, .aside__label, .aside__new{
    width : 100%;
    text-align: center;
    padding-bottom : 5px;
    margin : 0px;
}
.aside__label{
    font-size : 12px;
    font-weight : 400;
    color : #f5f5f7;
}
.aside__label:hover{
    color : #2997ff;
}
.aside__new{
    font-size : 10px;
    color : #F56300;
}
@-webkit-keyframes aside__direction{
    from{
        left : 60vw;
    }
    to{
        left : 49.5vw;
    }
}
@-webkit-keyframes aside__direction2{
    from{
        left : 20vw;
    }
    to{
        left : 0vw;
    }
}
.aside__inside01_hidden{
    position : absolute;
    display : none;
    z-index: 1;
    width : 100%;
    background-color: black;
    height : 100vh;
    animation : sweepToBottom;
    animation-duration: 0.5s;
}
@keyframes sweepToBottom{
    from {
        height : 0vh;
        opacity : 0.5;
    }
    to{
        height : 100vh;
        opacity : 1;
    }
}
@keyframes sweepToTop{
    from {
        height : 100vh;
        opacity : 1;
    }
    to{
        height : 0vh;
        opacity : 0;
    }
}
.hidden__search{
    width : 100%;
    height : 65px;
    display : flex;
    justify-content: space-around;
    align-items: center;
    border-bottom : 1px solid rgba(245,245,247,0.5);
}
.hidden__search__bar{
    width : 85vw;
    margin : auto;
    height : 36px;
    background-image: url("globalnav_search_image.png");
    background-repeat :no-repeat;
    background-size : 20px;
    background-position-x: 10px;
    background-position-y: center;
    background-color : #1d1d1f;
    border : none;
    outline : none;
    border-radius : 7px;
    font-size : 17px;
    padding-left : 40px;
    color : white;
}
@keyframes barSweepToLeft{
    from{
        width : 85vw;
    }
    to{
        width : 74vw;
    }
}
@keyframes barSweepToRight{
    from{
        width : 74vw;
    }
    to{
        width : 85vw;
    }
}
.hidden__search__bar::placeholder{
    color : #6e6e73;
}
.hidden__search__cancel{
    color : #2997ff;
    margin : auto;
    cursor : pointer;
    display : none;
}
.hidden__category{
    margin-top : 20px;
    width : 100%;
    display : flex;
    align-items: center;
}
.hidden__category__li{
    width : 90vw;
    margin : auto;
}
.hidden__category__li li{
    cursor : pointer;
    color : #f5f5f7;
    opacity : 0.9;
    display : flex;
    align-items: center;
    height : 44px;
}
.hidden__category__li #select{
    opacity : 0.8;
}
.hidden__category__li li+li{
    border-top : 1px solid rgba(245,245,247, 0.5);
}
.hidden__category__li li:hover{
    color : white;
    opacity : 1;
} 

.container__inside04{
    position : relative;
    height : 1086px;
    background : #000;
    color : #f5f5f7;
}
.container__inside05{
    position : relative;
    height : 1208px;
    background : #f2f2f2;
    color : #1d1d1f;
}
.container__inside06{
    position : relative;
    height : 1212px;
    background : #fff;
    color : #1d1d1f;
}
.inside__element{
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
    text-align: center;
}
/*뒷부분이랑 동일*/
.label__text0{
    font-size : 24px;
    font-weight : 600;
    letter-spacing: 0.009em;
}
.label__text1{
    font-size : 48px;
    font-weight : 600;
    margin-top : 9px;
}
.label__text2{
    font-size : 21px;
    font-weight : 400;
    margin-top : 25px;
    letter-spacing: -0.041em;
}
.label_button{
    margin-top : 20px;
}
.label__button button{
    border : none;
    outline : none;
    margin-top : 30px;
    background : #0071e3;
    border-radius : 18px;
    height : 36px;
    width : 85px;
    color : #fff;
    font-size : 14px;
    font-weight : 400;
}
.label__button button:hover{
    background : #2997ff;
}
.label__more{
    margin-top : 18px;
}
.label__more a{
    color : #2997ff;
    font-size : 17px;
    font-weight : 600;
    font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.label__more a:hover{
    text-decoration: underline;
}
.inside04__img{
    width : auto;
    margin-top : 70px;
    transform : translate(20%, 0)
}
.inside05__img{
    margin-top : 70px;
    width : auto;
}

.container__inside06{
    position : relative;
    height : 1212px;
    background : #fff;
    color : #1d1d1f;
}
.inside06__imgCategory{
    display : flex;
    padding-top : 55px;
    justify-content: space-around;
}
.imgCategory__upper, .imgCategory__down{
    display : flex;
}
.imgCategory__down li{
    margin-right : 25px;
}
#inside06__element{
    width : 980px;
}
#inside06__text0{
    margin-bottom : 40px;
    font-size: 42px;
    font-weight : 600;
    letter-spacing: -0.05em;
}
#inside06__more a{
    margin-bottom : 30px;
    font-size : 22px;
    font-weight : 400;
    letter-spacing: -0.05em;
    color : #0066cc;
}
.imgCategory__inside{
    text-align: left;
}
#iphone_se_logo{
    margin-top : 20px;
}
.inside06__text0{
    display : block;
    margin-top : 20px;
    font-size : 24px;
    color : #1d1d1f;
    font-weight : 600;
    letter-spacing: -0.009em;
    font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.inside06__text1{
    margin-top : 15px;
    margin-bottom : 30px;
    display : block;
    font-size : 14px;
    font-weight : 500;
    color : #1d1d1f;
    font-family : "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.inside06__text2 span{
    display : block;
    margin-top : 5px;
    font-size : 14px;
    font-weight : lighter;
    font-family : "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.inside06__button{
    border : none;
    outline : none;
    margin-top : 20px;
    background : #0071e3;
    border-radius : 18px;
    height : 24px;
    width : 60px;
    color : #fff;
    font-size : 10px;
    font-weight : 400;
    cursor : pointer;
}
.inside06__button:hover{
    background : #2997ff;
}
.inside06__more{
    display : block;
    margin-top : 18px;
    color : #0066cc;
    font-size : 12px;
    font-weight : 500;
    cursor : pointer;
}
.inside06__more:hover{
    text-decoration: underline;
}

.container__inside07{
    background : #f2f2f2;
}
.inside07__section0, .inside07__section1, .inside07__section2, .inside07__section3, .inside07__section4{
    position : relative;
    margin-top : 40px;
    padding-top : 40px;
}
.inside07__0, .inside07__1, .inside07__2, .inside07__3, .inside07__4{
    position : absolute;
    height : 100%;
    left : 50%;
    transform : translate(-50%, 0);
}
._0__element, ._1__element, ._2__element, ._3__element, ._4__element{
    margin-top : 40px;
}
.inside07__label{
    margin-top : 40px;
    font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size : 48px;
    color : #1d1d1f;
    font-weight : 600;
    text-align: center;
    letter-spacing: -0.1em;
}
.inside07__more{
    margin-top : 20px;
    text-align: center;
}
.inside07__more a{
    font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size : 18px;
    font-weight : 400;
    letter-spacing: -0.1em;
    color : #0066cc;
}
.inside07__more:hover a{
    text-decoration: underline;
}
.inside07__text0{
    font-size : 40px;
    word-break : break-all;
    letter-spacing: -0.08em;
    font-weight : 600;
    color : #1d1d1f;
    text-align: center;
}
.inside07__text1{
    font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
    word-break : break-all;
    font-size : 18px;
    letter-spacing: -0.05em;
    font-weight : 400;
    text-align: center;
}

.inside07__section0{
    height : 510px;
}
.inside07__0{
    width : 1380px;
    background : white;
}
._0__element{
    display : flex;
    justify-content: space-around;
}
._0__element_1, ._0__element_2{
    height : 324px;
    width : 652px;
    border-radius: 20px;
    justify-content: space-between;
    display : flex;
    background : #f5f5f7;
}
._0__element_1__background img{
    margin-top : 35px;
}
._0__element_1__inside, ._0__element_2__inside{
    font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
    color : #1d1d1f;
    font-size : 24px;
    font-weight : 600;
    letter-spacing: -0.1em;
    line-height : 35px;
    vertical-align: middle;
    margin-top : 120px;
}
._0__element_1__inside{
    padding-right : 45px;
}
._0__element_2__inside{
    padding-left : 65px;
}
#text0_purple{
    color : #8e70ff;
}
#text0_red{
    color : #ff0030;
}

.inside07__section1{
    height : 1309px;
}
.inside07__1{
    height : 100%;
}
._1__element_1{
    background-image: url("trade_in.jpg");
    background-repeat : no-repeat;
    background-size : contain;
    width : 1380px;
    height : 564px;
    margin-bottom : 35px;
}
._1__element_2{
    background-image: url("why_apple.jpg");
    background-repeat : no-repeat;
    background-size : contain;
    width : 1380px;
    height : 560px;
}
.element_1__inside, .element_2__inside{
    padding-top : 150px;
}
.element_1__inside li, .element_2__inside li{
    padding-bottom : 20px;
}

.inside07__section2{
    height : 1643px;
}
._2__element_1, ._2__element_2{
    display : flex;
    height : 536px;
    width : 1070px;
    background : white;
    justify-content: space-around;
    margin-bottom : 10px;
}
._2__element_1__background img{
    margin-top : 40px;
}
._2__element_2__background img{
    margin-top : 180px;
}
.inside07__more__inside{
    display : flex;
    justify-content : space-around;
}
._2__element_3{
    margin-top : 130px;
}
.element_3__inside{
    display : flex;
    justify-content: space-around;
    text-align: center;
}
.inside__text0, .inside__text1, .inside__more{
    font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 18px;
    font-weight : 600;
    letter-spacing: -0.011em;
    line-height : 30px;
    margin-bottom: 20px;
}
.inside__text1{
    font-weight : 400;
}
.inside__more{
    color : #0066cc;
    cursor : pointer;
}
.inside__more:hover{
    text-decoration: underline;
}

.inside07__section3{
    height : 1260px;
}
._3__element_1{
    display : flex;
    width : 1380px;
    height : 500px;
    justify-content: space-between;
    background-color : white;
}
.inside07__subtitle{
    font-size : 25px;
    font-weight : 600;
    text-align: center;
}
#ios14{
    margin-left : 120px;
}
._3__element_down{
    display : flex;
    justify-content: space-between;
    margin-top : 10px;
}
._3__element_2, ._3__element_3{
    height : 610px;
    background-color : white;
}
._3__element_2{
    width : 675px;
}
._3__element_3{
    width : 690px;
}
#transport{
    padding-top : 55px;
}
._3__element_2__background{
    text-align: center;
}
#privacy{
    margin-top : 170px;
    flex-direction: column;
    vertical-align: middle;
}
#privacy li{
    padding-bottom: 10px;
}

.inside07__section4{
    height : 800px;
}
.inside07__4{
    width : 1380px;
}
._4__element{
    display : flex;
    justify-content: space-between;
}
._4__element_1, ._4__element_2{
    width : 640px;
    height : 600px;
    background-color : white;
}
._4__element_2{
    background-image: url("apple_arcade.jpg");
}
#apple_music, #apple_arcade{
    padding-top : 35px;
}
._4__element_1__background img{
    padding-left : 35px;
}
#apple_music .inside07__more, #apple_arcade .inside07__more{
    margin-top : 0px;
    margin-bottom : 20px;
}
#apple_music .inside07__more a+a, #apple_arcade .inside07__more a+a{
    margin-left : 20px;
}
#apple_arcade, #apple_arcade a{
    color : white;
}

footer{
    position : relative;
    background-color: #f5f5f7;
    color : #1d1d1f;
}
.footer__inside01, .footer__inside02, .footer__inside03{
    position : relative;
    margin-bottom : 20px;
}
.footer__inside01{
    height : 221px;
}
.footer__inside02{
    height : 470px;
}
.footer__inside03{
    height : 80px;
    margin-bottom : 0px;
}
.inside01, .inside02, .inside03{
    position : absolute;
    display : block;
    left : 50%;
    width : 980px;
    height : 100%;
    transform : translate(-50%, 0);
}
.inside01, .inside02{
    border-bottom : 1px solid #d2d2d7;
}
.inside01__list{
    font-size : 11px;
    font-weight : 500;
    letter-spacing: -0.1em;
    color : #86868b;
}
.inside01__list li{
    margin-top : 15px;
}
.inside02__upper{
    display : flex;
    font-size:  12px;
    color : #515154;
}
.inside02__upper img{
    cursor : pointer;
    margin-right : 10px;
}
.inside02__down{
    margin-top : 10px;
    display : flex;
    justify-content: space-between;
    line-height : 30px;
}
.down__text0{
    font-size : 12px;
    font-weight : 600;
    color : #1d1d1f;
}
.down__text1{
    font-size:  12px;
    color : #515154;
    cursor : pointer;
}
.down__text1 li:hover{
    text-decoration: underline;
}
.ul__upper{
    margin-bottom : 20px;
}
.inside02__3{
    margin-top : 30px;
    font-size : 12px;
    color : #86868b;
}
#end__blue{
    color : #0066cc;
    cursor : pointer;
}
#end__blue:hover{
    text-decoration: underline;
}
.inside03__upper ul, .inside03__down ul{
    display : flex;
}
.inside03__upper ul{
    justify-content: space-between;
}
.inside03__upper{
    font-size : 12px;
    color : #86868b;
}
._3__upper_text1, ._3__upper_text2{
    color : #515154;
    font-weight : 600;
}
._3__upper_text1{
    margin-right : 220px;
}
._3__upper_text1 li+li{
    border-left : 1px solid #d2d2d7;
    margin-left : 5px;
    padding-left : 5px;
}
.inside03__down{
    margin-top : 10px;
    font-size : 10px;
    color : #999999;
}
.inside03__down li+li{
    padding-left : 5px;
    padding-right : 2px;
}

@media only screen and (max-width : 767px){
    .header__inside01{
        left : 0%;
        transform : translate(5%, 0);
    }
    .nav__inside01{
        left : 0%;
        width : 90%;
        transform : translate(5%, 0);
    }
    #nav__categoryList #notImg, #search{
        display : none;
    }
    #nav__categoryList #menuBar button{
        display : flex;
        padding-top : 12px;
    }
    .aside__inside01{
        left : 0%;
        transform : translate(5%, 0);
        animation-name : aside__direction2;
    }
    .inside__element{
        width : auto;
    }
}
@media only screen and (max-width : 1068px){
    .container__inside06{
        height : 1918px;
    }
    .inside06__imgCategory{
        flex-direction: column;
        margin-left : 250px;
    }
    .inside07__0, ._1__element_1, ._1__element_2{
        width : 89vw;
    }
    .element_1__inside, .element_2__inside{
        padding-top : 30px;
    }
}